#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

#statbox {
  position: absolute;
  z-index: 1;
  padding: 10px;
  line-height: 20px;
  padding: 10px;
  border-radius: 10px;
  top: 8%;
  right: 3px;
  width: 250px;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  font-size: .8em;
}
