#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

#statbox {
  position: absolute;
  z-index: 1;
  line-height: 20px;
  padding: 10px;
  border-radius: 10px;
  top: 10px;
  right: 3px;
  width: 250px;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  font-size: .8em;
}

#aboutBox {
  position: absolute;
  z-index: 1;
  padding: 5px;
  border-radius: 10px;
  bottom: 22px;
  right: 3px;
  width: 230px;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  font-size: .8em;
}

#aboutBox:hover {
  background: yellow;
  border-style: solid;
  border-color: black;
  border-width: medium;
}

#more {
  position: absolute;
  z-index: 1;
  line-height: 15px;
  padding: 5px;
  border-radius: 10px;
  border-style: solid;
  border-color: black;
  border-width: medium;
  bottom: 43px;
  right: 2px;
  width: 230px;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  font-size: .7em;
}

ul, li {
    margin: 0;
    padding: 0.2em;
}

#layerToggleContainer {
  position: absolute;
  z-index: 1;
  padding: 10px;
  line-height: 20px;
  padding: 10px;
  border-radius: 10px;
  top: 175px;
  right: 2px;
  height: 33px;
  width: 35px;
  background: rgba(255, 255, 255, .9);
  background-image: url("https://cdn4.iconfinder.com/data/icons/defaulticon/icons/png/256x256/layers.png");
  background-size: 50px;
  background-position: 50%;
  background-repeat: no-repeat;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  font-size: .8em;
}

#layerToggle {
  position: absolute;
  z-index: 1;
  padding: 10px;
  line-height: 20px;
  padding: 10px;
  border-radius: 10px;
  top: 16%;
  right: 16px;
  width: 200px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  font-size: 12;
  visibility: hidden;
}
